USE [TSCD]
GO
/****** Object:  Table [dbo].[CHITIETPHIEUGIAO]    Script Date: 12/6/2016 8:27:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUGIAO](
	[mathietbi] [int] NOT NULL,
	[maphieugiao] [int] NOT NULL,
	[soluong] [int] NULL,
 CONSTRAINT [PK_CHITIETPHIEUGIAO] PRIMARY KEY CLUSTERED 
(
	[mathietbi] ASC,
	[maphieugiao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DONVI]    Script Date: 12/6/2016 8:27:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONVI](
	[madonvi] [int] NOT NULL,
	[tendonvi] [nvarchar](50) NULL,
	[ghichu] [nvarchar](200) NULL,
	[maphieugiao] [int] NULL,
 CONSTRAINT [PK_DONVI] PRIMARY KEY CLUSTERED 
(
	[madonvi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DONVITINH]    Script Date: 12/6/2016 8:27:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONVITINH](
	[madonvitinh] [int] NOT NULL,
	[tendonvitinh] [nvarchar](50) NULL,
 CONSTRAINT [PK_DONVITINH] PRIMARY KEY CLUSTERED 
(
	[madonvitinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAITHIETBI]    Script Date: 12/6/2016 8:27:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAITHIETBI](
	[maloai] [int] NOT NULL,
	[tenloai] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOAITHIETBI] PRIMARY KEY CLUSTERED 
(
	[maloai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 12/6/2016 8:27:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[manhacungcap] [int] NOT NULL,
	[tennhacungcap] [nvarchar](50) NULL,
	[diachi] [nvarchar](50) NULL,
	[sdt] [nvarchar](11) NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[manhacungcap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUGIAO]    Script Date: 12/6/2016 8:27:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUGIAO](
	[maphieugiao] [int] NOT NULL,
	[ngaygiao] [datetime] NULL,
	[daky] [int] NULL,
	[tinhtrang] [nvarchar](50) NULL,
	[maphongquantri] [int] NULL,
 CONSTRAINT [PK_PHIEUGIAO] PRIMARY KEY CLUSTERED 
(
	[maphieugiao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 12/6/2016 8:27:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[maphieunhap] [int] NOT NULL,
	[ngaynhap] [datetime] NULL,
	[manhacungcap] [int] NULL,
	[mathietbi] [int] NULL,
	[soluong] [int] NULL,
 CONSTRAINT [PK_PHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[maphieunhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHONGQUANTRI]    Script Date: 12/6/2016 8:27:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONGQUANTRI](
	[maphongquantri] [int] IDENTITY(1,1) NOT NULL,
	[tenphongquantri] [nvarchar](50) NULL,
 CONSTRAINT [PK_PHONGQUANTRITHIETBI] PRIMARY KEY CLUSTERED 
(
	[maphongquantri] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THIETBI]    Script Date: 12/6/2016 8:27:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THIETBI](
	[mathietbi] [int] IDENTITY(1,1) NOT NULL,
	[tenthietbi] [nvarchar](100) NULL,
	[dongia] [int] NULL,
	[thongsokythuat] [nvarchar](500) NULL,
	[ngaysanxuat] [datetime] NULL,
	[ngayduavaosudung] [datetime] NULL,
	[soluong] [int] NULL,
	[madonvitinh] [int] NULL,
	[maloai] [int] NULL,
	[maphongquantri] [int] NULL,
	[matinhtrang] [int] NULL,
 CONSTRAINT [PK_THIETBI] PRIMARY KEY CLUSTERED 
(
	[mathietbi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TINHTRANG]    Script Date: 12/6/2016 8:27:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TINHTRANG](
	[matinhtrang] [int] NOT NULL,
	[tentinhtrang] [nvarchar](100) NULL,
 CONSTRAINT [PK_TINHTRANG] PRIMARY KEY CLUSTERED 
(
	[matinhtrang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[CHITIETPHIEUGIAO]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUGIAO_PHIEUGIAO] FOREIGN KEY([maphieugiao])
REFERENCES [dbo].[PHIEUGIAO] ([maphieugiao])
GO
ALTER TABLE [dbo].[CHITIETPHIEUGIAO] CHECK CONSTRAINT [FK_CHITIETPHIEUGIAO_PHIEUGIAO]
GO
ALTER TABLE [dbo].[CHITIETPHIEUGIAO]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUGIAO_THIETBI] FOREIGN KEY([mathietbi])
REFERENCES [dbo].[THIETBI] ([mathietbi])
GO
ALTER TABLE [dbo].[CHITIETPHIEUGIAO] CHECK CONSTRAINT [FK_CHITIETPHIEUGIAO_THIETBI]
GO
ALTER TABLE [dbo].[DONVI]  WITH CHECK ADD  CONSTRAINT [FK_DONVI_PHIEUGIAO] FOREIGN KEY([maphieugiao])
REFERENCES [dbo].[PHIEUGIAO] ([maphieugiao])
GO
ALTER TABLE [dbo].[DONVI] CHECK CONSTRAINT [FK_DONVI_PHIEUGIAO]
GO
ALTER TABLE [dbo].[PHIEUGIAO]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUGIAO_PHONGQUANTRITHIETBI] FOREIGN KEY([maphongquantri])
REFERENCES [dbo].[PHONGQUANTRI] ([maphongquantri])
GO
ALTER TABLE [dbo].[PHIEUGIAO] CHECK CONSTRAINT [FK_PHIEUGIAO_PHONGQUANTRITHIETBI]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_NHACUNGCAP] FOREIGN KEY([manhacungcap])
REFERENCES [dbo].[NHACUNGCAP] ([manhacungcap])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_NHACUNGCAP]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_THIETBI] FOREIGN KEY([mathietbi])
REFERENCES [dbo].[THIETBI] ([mathietbi])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_THIETBI]
GO
ALTER TABLE [dbo].[THIETBI]  WITH CHECK ADD  CONSTRAINT [FK_THIETBI_DONVITINH] FOREIGN KEY([madonvitinh])
REFERENCES [dbo].[DONVITINH] ([madonvitinh])
GO
ALTER TABLE [dbo].[THIETBI] CHECK CONSTRAINT [FK_THIETBI_DONVITINH]
GO
ALTER TABLE [dbo].[THIETBI]  WITH CHECK ADD  CONSTRAINT [FK_THIETBI_LOAITHIETBI] FOREIGN KEY([maloai])
REFERENCES [dbo].[LOAITHIETBI] ([maloai])
GO
ALTER TABLE [dbo].[THIETBI] CHECK CONSTRAINT [FK_THIETBI_LOAITHIETBI]
GO
ALTER TABLE [dbo].[THIETBI]  WITH CHECK ADD  CONSTRAINT [FK_THIETBI_PHONGQUANTRITHIETBI] FOREIGN KEY([maphongquantri])
REFERENCES [dbo].[PHONGQUANTRI] ([maphongquantri])
GO
ALTER TABLE [dbo].[THIETBI] CHECK CONSTRAINT [FK_THIETBI_PHONGQUANTRITHIETBI]
GO
ALTER TABLE [dbo].[THIETBI]  WITH CHECK ADD  CONSTRAINT [FK_THIETBI_TINHTRANG] FOREIGN KEY([matinhtrang])
REFERENCES [dbo].[TINHTRANG] ([matinhtrang])
GO
ALTER TABLE [dbo].[THIETBI] CHECK CONSTRAINT [FK_THIETBI_TINHTRANG]
GO
