@model IEnumerable<TaiSanCoDinh.Models.CHITIETPHIEUGIAO>
@{
    ViewBag.Title = "ChiTiet";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Chi Tiết Hóa Đơn</h2>
<div>


    <div id="ChiTiet">
        <div>
            <table class="table table-responsive">
                <tr>
                    <th> Mã Thiết Bị</th>
                    <th> Mã Phiếu Giao</th>
                    <th> Số Lượng</th>
                    <th>Đơn Vị Giao Đến</th>
                </tr>
                @foreach (TaiSanCoDinh.Models.CHITIETPHIEUGIAO i in ViewBag.ChiTiet)
                {
                    <tr>
                        <td>@i.maphieugiao</td>
                        <td>@i.mathietbi</td>
                        <td>@i.soluong</td>
                        <td>@i.PHIEUGIAO.madonvi</td>
                    </tr>
                }
            </table>
        </div>

    </div>
</div>


