@model TaiSanCoDinh.Models.PHIEUNHAP 
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<h2>View</h2>
<div id="TieuDe">
    <h1>Quản Lí Thiết Bị</h1>
</div>
<div>

</div>
<div id="PhieuNhap">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
       Nhập Sách
    </button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Phiếu Nhập</h4>
                </div>
                <div class="modal-body">
                    @Html.ValidationSummary()
                    @using (Html.BeginForm("phieunhap", "Home", FormMethod.Post))
                    {
                        <div class="form-group">
                            <label> Ngay Nhập</label>
                            <input type="date"  name="ngaynhap", class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label>Nhà Cung Cấp</label>
                            @Html.DropDownList("manhacungcap", null, new { @class ="form-control"})
                        </div>
                        <div class="form-group">
                            <label> Thiết Bị</label>
                            @Html.DropDownList("mathietbi", null, new { @class="form-control"})
                        </div>
                        <div class="form-group">
                            <label>Số Lượng</label>
                            @Html.TextBoxFor(m => m.soluong, new { @class = "form-control" });
                        </div>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary">Lưu Phiếu</button>
                </div>
            </div>
        </div>
    </div>
</div>

