@{
    Layout = null;
}
@using WEB.Models;
@model List<DONVI>

    <script>
$(function()
{
    var table=$("#DONVI");
    $("#searchBoxdonvi").keyup(function()
    {
        var keyword=this.value;
        $("tr:gt(0)",table).each(function()
        {
            if($(this).text().search(keyword)>-1)
                $(this).show();
            else
                $(this).hide();
        });
    });
});
    </script> @*@Script Lọc *@
<table id="DONVI" align="center" border="1" width="430" style="border-color:#0094ff; border-radius: 4px; overflow:auto">
    <tr><h2 align="center"><b style="color:#212740;">DANH SÁCH CÁC ĐƠN VỊ</b></h2></tr>
    <tr>
        <div align="center">
            <b>Lọc</b> <input id="searchBoxdonvi" type="text" />
        </div>
    </tr>
    <tr><hr /></tr>
    <tr style="background-color:#4C8F96; color:aliceblue">
        <td align="center">Mã</td>
        <td align="center">Tên</td>
        <td align="center">Ghi Chú</td>
        <td align="center">Thao tác</td>
    </tr>
    @{
        foreach (var item in Model)
        {
            <tr>
                <td>@item.madonvi</td>
                <td>@item.tendonvi</td>
                <td>@item.ghichu</td>
                <td align="center"><td><a href="#" class="buttonPro small blue ">Nhập</a></td></td>
            </tr>
        }
    }
</table>




