@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/CSS/style.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()
    <div id="header">
        <div class="section">
            <div class="logo">
                <a href="index.html">TSCD</a>
            </div>
            <ul>
                <li><a href="#">Nhà CC</a></li>
                <li><a href="#">Đơn Vị</a></li>
                
            </ul>
            
        </div>
        @*Danh sách nhà cung cấp và đơn vị*@
        <div class="article">
            <table align="center" width="480" height="500">
              <tr>
                    <td valign ="top" align="left" style="border: 2px solid; background-color:#fff">
                        @Html.Action("NCCview","Home")    
                    </td>
                    <td valign="top" align="right" style="border: 2px solid; background-color:#fff" >
                        @Html.Action("DONVIview", "Home")
                    </td>

                </tr>
            </table>
        </div>
       </div>
   
    <div id="footer">
        <div>
            <div class="connect">
              <b style="color:#ffffff">NHÓM 12</b>
            </div>
            <p>
                XÂY DỰNG PHẦN MỀM THEO MÔ HÌNH PHÂN LỚP
            </p>
        </div>
    </div>
</body>
</html>
