@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/CSS/style.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()
    <div id="header">
        <div class="section">
            <div class="logo">
                <a href="index.html">TSCD</a>
            </div>
            <ul>
                <li class="selected">
                    <a href="index.html">HOME</a>
                </li>
                <li>
                    <a href="about.html">Nhập</a>
                </li>
                <li>
                    <a href="hairstyle.html">Xuất</a>
                </li>
                <li>
                    <a href="hairstyle.html">HELP</a>
                </li>
                <li>
                    <a href="hairstyle.html">ABOUT</a>
                </li>
            </ul>
        </div>
        <div class="article">
            <table align="center" width="980" height="500">
                <tr>
                    <td align="center">
                        Trần Ngọc Thùy
                    </td>
                </tr>
            </table>
        </div>
    </div>
   
    <div id="footer">
        <div>
            <div class="connect">
              <b style="color:#ffffff">NHÓM 12</b>
            </div>
            <p>
                XÂY DỰNG PHẦN MỀM THEO MÔ HÌNH PHÂN LỚP
            </p>
        </div>
    </div>
</body>
</html>
