@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/CSS/style.css" rel="stylesheet" />
    <link href="~/Content/CSS/buttonPro.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.min.js"></script>
</head>
<body>
    @RenderBody()
    <div id="header">
        <div class="section">
            <div class="logo">
                <a href="/HOME/">TSCD</a>
            </div>
            <ul>
                <h2>XÂY DỰNG PHẦN MỀM THEO MÔ HÌNH PHÂN LỚP</h2>
            </ul>

        </div>
        <div class="article">
            <table align="center" width="936" height="500">
                <tr>
                    <td valign="top" align="center" style="border: 2px solid; background-color: #fff;">
                    <a href="/NHAPMOI/NHAPMOIview" class="buttonPro large green">Nhập Mới</a>
                    <a href="/NHAPTHEM/NHAPTHEMview" class="buttonPro large grey ">Nhập Thêm</a>
                    <a href="#" class="buttonPro large red ">Nhận Trả</a>
                    <a href="#" class="buttonPro large blue ">Xuất đi</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div id="footer">
        <div>
            <div class="connect">
                <b style="color:#ffffff">NHÓM 12</b>
            </div>
            <p>
                XÂY DỰNG PHẦN MỀM THEO MÔ HÌNH PHÂN LỚP
            </p>
        </div>
    </div>
</body>
</html>
