@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/CSS/style.css" rel="stylesheet" />
    <link href="~/Content/CSS/buttonPro.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.min.js"></script>
</head>
<body>
    @RenderBody()
    <div id="header">
        <div class="section">
            <div class="logo">
                <a href="/HOME/">TSCD</a>
            </div>
            <ul>
                <h2>XÂY DỰNG PHẦN MỀM THEO MÔ HÌNH PHÂN LỚP</h2>
            </ul>

        </div>
        <div class="article">
            <table align="center" width="936">
                <tr>
                    <td valign="top" align="center" style=" background-color: #fff;">
                    <a href="/NHAPMOI/NHAPMOIview" class="buttonPro large green" style="width:150px; height:150px;"><div style="font-size:30px; color:#fff; margin-top:70px;" >Nhập Mới</div></a>
                    <a href="/NHAPTHEM/NHAPTHEMview" class="buttonPro large grey"  style="width:150px; height:150px;"><div style="font-size:25px; color:#fff; margin-top:70px;" >Nhập Thêm</div></a>
                    <a href="#" class="buttonPro large red " style="width:150px; height:150px;"><div style="font-size:30px; color:#fff; margin-top:70px;" >Nhận Trả</div></a>
                    <a href="#" class="buttonPro large blue " style="width:150px; height:150px;"><div style="font-size:30px; color:#fff; margin-top:70px;" >Xuất đi</div></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div style="margin-top:100px;">
        <div id="footer">
            <div>
                <div class="connect">
                    <b style="color:#ffffff">NHÓM 12</b>
                </div>
                <p>
                    XÂY DỰNG PHẦN MỀM THEO MÔ HÌNH PHÂN LỚP
                </p>
            </div>
        </div>
    </div>
</body>
</html>
