@using WEB.Models;
@model List<NHACUNGCAP>
    <script>
$(function()
{
    var table=$("#NCC");
    $("#searchBoxncc").keyup(function()
    {
        var keyword=this.value;
        $("tr:gt(0)",table).each(function()
        {
            if($(this).text().search(keyword)>-1)
                $(this).show();
            else
                $(this).hide();
        });
    });
});
    </script> @*@Script Lọc *@
                        <table id="NCC" align="center" border="1" width="936" style="border-color:#0094ff; border-radius: 4px; overflow:auto;">
                            <tr><h2 align="center"><b style="color:#212740;">CHỌN NHÀ CUNG CẤP</b></h2></tr>
                            <tr>
                                <div align="center">
                                    <b>Lọc</b> <input type="text" id="searchBoxncc" />
                                </div>
                            </tr>
                            <tr><hr /></tr>
                            <tr style="background-color:#4C8F96; color:aliceblue">
                                <td align="center">Mã </td>
                                <td align="center">Tên</td>
                                <td align="center">Địa chỉ </td>
                                <td align="center">SĐT</td>
                                <td align="center">Thao tác</td>
                            </tr>
                            @{
                                foreach (var item in Model)
                                {

                                    <tr>
                                        <td>@item.manhacungcap</td>
                                        <td>@item.tennhacungcap</td>
                                        <td>@item.diachi</td>
                                        <td>@item.sdt</td>
                                        <td align="center"><a href="#" class="buttonPro small blue ">Chọn</a></td>
                                    </tr>
                                }
                            }
                        </table>
